<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huashitu.liveradio">

    <application
        android:name="com.huashitu.liveradio.app.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">
        <activity android:name=".activity.Activity_Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--微信-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--注册-->
        <activity android:name=".activity.Activity_Register"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <!--&lt;!&ndash;Home&ndash;&gt;-->
        <!--<activity android:name=".activity.Activity_Main"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:launchMode="singleTop"/>-->
        <!--映票贡献榜-->
        <activity android:name=".activity.Activity_Contribution"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <!--我的收益-->
        <activity android:name=".activity.Activity_Profit"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <!--联系我们-->
        <activity android:name=".activity.Activity_ContactUs"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <!--领取记录-->
        <activity android:name=".activity.Activity_CollectRecords"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <!--兑换-->
        <activity android:name=".activity.Activity_Exchange"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <!--绑定微信-->
        <activity android:name=".activity.Activity_BindWechat"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <!--自己直播主页面-->
        <activity android:name=".activity.Activity_LiveRadio"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <!--观看别人主播-->
        <activity android:name=".activity.Activity_WatchRadio"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <!--消息-->
        <activity android:name=".activity.Activity_Message"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>

        <receiver android:name="com.huashitu.liveradio.BaiduPushReceiver">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind、setTags等method的返回结果-->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <!-- 接收通知点击事件，和通知自定义内容 -->
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>
    </application>
</manifest>